
    h1 {
        background-color: green;
      }
      
      div {
        background-color: lightblue;
      }
      
      p {
        background-color: yellow;
      }
      body {
        background-image: url("https://www.google.com/imgres?imgurl=https%3A%2F%2Fcdn.pixabay.com%2Fphoto%2F2017%2F02%2F01%2F18%2F50%2Ffigure-2031074_960_720.jpg&tbnid=383zBAO36PbGiM&vet=12ahUKEwiN6qCu4pqBAxUNBxAIHSX_Ca8QMygAegQIARBS..i&imgrefurl=https%3A%2F%2Fpixabay.com%2Ffi%2Fillustrations%2Fpiirustus-hassu-kuva-2031074%2F&docid=dbRiSGNSayQeiM&w=720&h=720&q=hassu%20kuvad&ved=2ahUKEwiN6qCu4pqBAxUNBxAIHSX_Ca8QMygAegQIARBS");
      }